.header {
  background-image: url("/images/3px-tile.png");
  background-color: orange;
  height: 490px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.image {
  display: flex;
  justify-content: center;
  padding-top: 80px;
}

.name {
  display: flex;
  justify-content: center;
}