.new-tweet {
  display:flex;
  justify-content: center;
  width: 90%;
  flex-direction: column;
}

.compose-tweet {
  margin-top: 20px;
}

.error-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 100%;
  background-color: red;
  color: white;
  margin-bottom: 20px;
}


#tweet-form{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.tweet-text {
  outline: none;
  border-bottom-width: thick;
  border-bottom-color: black;
  border-top-width: 0;
  border-left-width: 0;
  border-right-width: 0;
  background-color: transparent;
  margin-bottom: 10px;
}

.button {
  background-color: #4056A1;
  color: white;
  font-family: "Bungee";
}

.output {
  display: flex;
  justify-content: space-between;
}

.counter {
  font-family: "Bungee";
}

.red {
  color: red;
}